@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(giphy.gif);
}

section {
    background: white;
    border-radius: 10px;
    border-style: dashed;
    border-color: rgb(71, 81, 82);
    padding: 60px;
    width: 600px;
    height: 500px;
    margin: auto;
    text-align: center;
    margin-top: 200px;
    font-family: "Ubuntu Mono", monospace;
    position: relative;


}

.um {
    padding: 15px;
    font-size: 20px;
}

#quality {
    padding: 15px;
    margin-top: 10px;

}

div p {
    padding: 5px;
}

i {
    padding: 10px;
}

#redes {
    display: flex;
    margin-top: 30px;
}

#foto {
    position: absolute;
    top: -90px;
    left: 220px;

    
}